<h4>Divisions</h4>

<% if Division.any? %>
  <ul>
    <% Division.all.each do |div| %>
      <li><%= div.name %> <a href="/divisions/<%= div.id %>/edit">edit</a>
        <ul>
          <% div.employees.each do |emp| %>
            <li><%= emp.name %> <a href="/remove_employee/<%= emp.id %>">delete</a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

<% else %>
  <p>
    There are no divisions add one.
  </p>

<% end %>

<form action="/divisions" method="post">
    <div class="form-group">
      <input name="name" class="form-control" type="text">
    </div>

    <button name="submit" class='btn btn-primary'>Submit</button>

</form>
<br>
<a href="/">Home</a>
