<h2>Edit</h2>


<h4><%= @division.name %></h4>

<form action="/divisions/<%= @division.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <input type="text" name="name">
  <button name="submit" type="submit">Submit</button>
</form>
<br>
<form  action='/divisions/<%= @division.id %>' method="post">
  <input type="hidden" name="_method" value="delete">
  <button type='submit'>Delete</button>
</form>
